[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
matplotlib = "*"
notebook = "*"
jupyterlab = "*"
jupytext = "*"
requests = "*"
geojson = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
first_install = "python .first_install.py"
export_html_notebook = "jupyter-nbconvert --to html --template ap_report --execute --output-dir ./data/html_reports/ --TemplateExporter.extra_template_basedirs=./.nbconvert_templates"
